
<h1> <%= "#{@team.name}" %> </h1>
<h2> <%= "Team Motto: #{@team.motto}" %> </h2>

<h2> <%= "Hero Name: #{@heroes[0].name}" %> </p>
<p> <%= "Hero Power: #{@heroes[0].power}" %> </p>
<p> <%= "Hero Biography: #{@heroes[0].biography}" %> </p>

<h2> <%= "Hero Name: #{@heroes[1].name}" %> </p>
<p> <%= "Hero Power: #{@heroes[1].power}" %> </p>
<p> <%= "Hero Biography: #{@heroes[1].biography}" %> </p>

<h2> <%= "Hero Name: #{@heroes[2].name}" %> </p>
<p> <%= "Hero Power: #{@heroes[2].power}" %> </p>
<p> <%= "Hero Biography: #{@heroes[2].biography}" %> </p>


